.btn
  border: 0px solid white
  color: white
  padding: 0.5rem 1.5rem

  &:hover
    cursor: pointer

.btn-major
  background: var(--btn-major-color)

  &:hover
    background: var(--btn-major-hover-color)

.btn-alternate
  background: var(--btn-alternate-color)

  &:hover
    background: var(--btn-alternate-hover-color)

.btn-full
  width: 100%

