.rovers-list
  /* border: 1px solid red */
  display: flex
  /* justify-content: center */
  /* flex: 1 */
  justify-content: center
  flex-wrap: wrap


.rover-item
  border: 1px solid transparent
  padding: 1rem 1rem

  &:hover
    border: 1px solid black

  & a
    &:hover
      text-decoration: none
    & img
      max-height: 12em

      text-align: center

.rover-title
  font-size: 1.5em