.rovers-list
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

.rover-item
  flex: 50%
  text-align: center
  border: 1px solid transparent
  padding: 2rem 1rem

  & img
    border: 1px solid black

    &:hover
      border: 1px solid yellow

  & a
    &:hover
      text-decoration: none

    & img
      max-height: 12em
      text-align: center

.rover-title
  font-size: 1.5em