.animated-app-enter
  opacity: 0

.animated-app-enter-active
  opacity: 1
  transition: opacity var(--base-transition-time)

.animated-app-exit
  opacity: 1
  display: none

.animated-app-exit-active
  opacity: 0
  transition: opacity var(--base-transition-time)
