.navbar
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  & .menu

    & li
      display: flex
      align-items: stretch

    & a
      display: flex
      align-items: center
      min-height: 50px
      padding: 1em 1.5em

      &:hover
        background: var(--red-darkest)
        text-decoration: none

.logo
  display: flex
  align-items: center

  & a
    color: var(--white)