.gallery-wrapper
  max-width: 900px
  margin: 0 auto

.gallery-list
  display: flex
  flex-wrap: wrap
  padding: 1em

.gallery-item
  display: flex
  flex-flow: column
  border: 1px solid yellow

.gallery-item >
a > img
  max-width: 250px
  padding: 1em