.header-filters
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  justify-content: flex-end
  gap: 1rem

  & .filter
    display: flex
    flex-wrap: wrap
    flex-flow: column
    gap: 1rem

.main-filter
  margin-bottom: 1.5rem

  & .filter
    display: flex
    flex-wrap: wrap
    align-items: center
    gap: 0.5rem

  & .filter-body
    flex-basis: 25%
    display: flex
    flex-wrap: wrap
