*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  font-size: 1em
  color: var(--text-color)
  background: var(--body-bg)

a
  text-decoration: none
  color: var(--link-color)

  &:hover
    text-decoration: overline

img
  max-width: 100%


input[type="text"], input[type="date"], input[type="number"], select
  display: inline-block
  width: 100%
  height: 2.5rem
  border-radius: 0
  border: 1px solid var(--black)