.container
  margin: 0 auto
  max-width: 900px
  padding: 0em 1rem

.content-main
  padding-top: 2rem
  padding-bottom: 2em

.heading
  line-height: 1
  margin-bottom: 1rem

.row
  display: flex
  justify-content: center
