.container
  margin: 0 auto
  max-width: 900px
  padding: 0em 1rem

.content-main
  padding-top: 2rem
  padding-bottom: 2em

.heading
  line-height: 1
  margin-bottom: 1rem

.sub-heading
  line-height: 1.5
  font-size: 1.25rem
  margin-bottom: .5rem

.row
  display: flex
  justify-content: center

.loader-wrapper
  margin: 25vh 0