:root
  --black: hsl(5, 5%, 5%)
  --white: hsl(0, 100%, 100%)
  --body-bg: hsl(0, 0%, 85%)
  --text-color: var(--black)
  --header-bg: hsl(360, 55%, 22%)
  --footer-bg: hsl(0, 5%, 10%)
  --link-color: var(--black)
  --menu-text-color: var(--white)