.rover-avatar
  display: none

.rover-page
  display: flex
  flex-wrap: wrap

.rover-filters
  flex-grow: 2
  order: 1
  flex-basis: 0

.rover-image > img
  max-width: 15em

.rover-gallery
  margin-top: 2rem