.rover-avatar
  display: none


.rover-page
  display: flex
  flex-wrap: wrap

.rover-filters
  flex-grow: 2
  order: 1
  flex-basis: 0

.rover-description-list
  margin: 1em
  display: none

.rover-image > img
  max-width: 15em

.rover-description-table > tbody tr > td:first-child
  text-align: right
  padding-right: 0.25rem


.rover-gallery
  /* border: 1px solid red */
  margin-top: 2rem